.label-card {
    display: flex;
    flex-direction: row;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.measures-table{
    display: flex;
    flex-direction: row;
    width : auto;
}

.table-responsive{
   color : green;
    font-style: normal;
    font-weight : normal;
}

.title{
    color : green;
    font-weight: bold;
}

.questions-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}